.SettingsBody {
  /* background: linear-gradient(to right, red, blue); */
  /* text-align: center; */
  border: 2px #dfdfdf solid;
  margin: 10px 2em 0px 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:1%;
}
